<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DisplayBookShelves">

<listeners> 
      <listener class-name="com.qa.ExtentReportListener.ExtentReportListener"/>
</listeners>
  <test thread-count="5" name="Test">
  
 <groups>
  	<run>
  		<include name="Smoke Test"/>
  		<include name="Regression Test"/>
  	</run>
  </groups>
    <classes>
    <class name="com.ul.qa.testcases.ValidateBookDetails"/>
    <class name="com.ul.qa.testcases.ValidateChairDetails"/>
    <class name="com.ul.qa.testcases.ValidateSubMenu"/>
    <class name="com.ul.qa.testcases.ValidateGiftCardEntry"/>
     
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
